.follow-btn-div{
	vertical-align: middle;
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
}

.unfollow-btn{
	vertical-align: middle;
	display: inline-block;
		margin-top: auto;
	margin-bottom: auto;
}